/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.ui.celled.table tr th:first-child {
  width: 25%;
}

#first {
  width: 25%
}

.ui.table thead tr:first-child>th:last-child  {
  width: 60% !important;
}

#third{
  width: 60%
}

.ui.celled.table tr td, .ui.celled.table tr th {
  width: 5%
}

#second {
  width: 5%;
}


.ui.table.bigtester {
  display:block;
  overflow:auto;
  height: 200px;
  width: 100%;
}
.id {
  font-size: 40;
}

.fixed_header {
  display:block;
  overflow:auto;
  height:100px;
  width:100%;
}
.fixed_header thead tr{
  display:block;
}

#show-note-title {
  padding: 10px;
}